.footer {
    @include w-block-padding-y();
    box-shadow: $w-def-box-shadow;

    //background: $w-color-dark;
    //color: $w-color-white;

    &-inner {
        @extend .alignwide;
    }

    &-item {
        margin: .75em 0;
    }


    a {
        color: inherit;

        &:hover {
            color: $w-link-color-default;
        }
    }


    // -------------------------------------------
    // Links im Menü und im Adressblock

    &-menu,
    &-contact {

        a:not(.w-btn) {
            color: inherit;

            &:hover {
                //color: $w-link-color-default;
            }
        }
    }


    // -------------------------------------------
    // Textbereich

    &-text {
        :first-child {
            margin-top: 0;
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-social {
        .social {
            font-size: 1.2em;
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-menu {

        ul {
            @extend .w-list;
            @extend .w-list--inline;
            font-size: $w-font-size-small;
        }
    }
}


/*** CUSTOM ***/
#footer {
    padding: 75px 0;

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .col {
            &.logo-wrapper {
                width: 218px;
            }

            &.socials {
                a {
                    display: block;

                    svg {
                        display: block;
                        height: 30px;
                        width: 30px;
                        color: #bfbfc8;
                    }
                }
            }

            &:last-child {
                ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            font-size: 0.7em;
                            margin-right: 22px;
                            color: #bfbfc8;
                        }

                        &:last-child {
                            a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
