.slick-arrow-own{
  cursor: pointer;
  display: block;
  width: 64px;
  min-height: 64px;
  background-position: center;
  background-size: 35% auto;
  background-repeat: no-repeat;
  background-image: url('../../img/slick-arrow-right.svg');
  transition: all .3s;
  margin-right: 10px;

  &:hover{
    filter: brightness(0.8);
  }
  &.red{
    background-color: $w-color-primary;
  }
  &.blue{
    background-color: $w-color-secondary;
  }
  &.slick-arrow-prev{
    transform: rotate(180deg);
  }
}
.slider-button-wrapper{
  display: flex;
  .button-primary{
    margin: 0 10px;
  }
}