/*** GLOBAL ***/
body {
  overflow: visibile;
}

/*** HELPER ***/
.img-wrapper {
  display: block;
  img {
    display: block;
    width: 100%;
  }
}
.section{
  position: relative;
  margin: 25vh 0;
  border: 1px solid red;
}
.content-wrapper-small{
  max-width: 600px;
}

/*** HOME: HERO ***/
#home-section-hero {
  padding: 150px 0 0 0;
  margin-top: 0;
  &:after{
    content: '';
    background-image: url('../../img/bg-first-section.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    width: 90vw;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/*** HOME: ZITAT ***/
#home-section-zitat {
  .is-style-h1 {
    position: relative;
    &:after {
      content: "“";
      position: absolute;
      right: 0;
      top: -6rem;
      font-size: 7rem;
    }
  }
}

/*** HOME: KUNDEN ***/
#home-section-kunden {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  &:after{
    content: '';
    background-image: url('../../img/kunden-logos-bg.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
    width: 55vw;
    height: 120vh;
    position: absolute;
    top: -10vh;
    right: 0;
  }
  .content-wrapper {

  }
  .kundenlogos {
    .logo {
      padding: 3em 2.5em;
      img {
        max-height: 75px;
      }
    }
  }
}

/*** HOME: LEISTUNGEN ***/
#home-section-leistungen {
  padding-top: 100px;
  .teaser {
    background-color: #353583;
    background-image: url('../../img/teaser-bg.jpg');
    background-size: 100% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 0 0 30px 0;
    &.first-child {
      margin-top: -100px;
    }
    .img-wrapper {
      margin: 0 auto 25px auto;
      max-width: 80%;
      img {
        max-height: 175px;
      }
    }
    .content-wrapper {
      strong {
        font-size: 1.5em;
        color: #fff;
        line-height: 1.2;
      }
      p {
        font-size: 0.8em;
        color: #fff;
        margin-bottom: 25px;
      }
    }
  }
}

/*** HOME: WARUM DEUX ? ***/
#home-section-warum-deux {
  .content-wrapper {
    padding: 50px 50px 0 0;
  }
}

/*** PROJEKTE ***/
#home-section-projekte {
  .slick-dots {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      margin-right: 6px;
      display: flex;
      align-items: center;
      &::marker {
        content: "";
        display: none;
      }
      button {
        text-indent: -20000em;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
      }
      &.slick-active {
        button {
          background: $w-color-primary;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    color: #fff;
    z-index: 1;
    background-image: url(../../img/slider-arrow-right-white.svg);
    background-size: auto;
    background-repeat: no-repeat;
    text-indent: -20000em;
    display: block;
    width: 40px;
    height: 40px;

    &:hover {
      transform: scale(1.1);
    }
    &.slick-prev {
      background-image: url(../../img/slider-arrow-left-white.svg);
      left: 16px;
    }
  }
}

/*** PROJEKT-SLIDER ***/
#home-section-projekte {
  .projekt-content-wrapper {
    background: rgba(0, 0, 0, 0.4);
    padding: 35px;
    color: #fff;
  }
  .slick-slide {
    padding: 100px 0;
  }
}

/*** V-Card ***/
.vcard {
  background: #fff;
  display: inline-block;
  padding: 25px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05);

  .logo-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  p {
    font-weight: 700;
    color: #000;
    font-size: 1.1em;
    span {
      display: block;
      font-weight: normal;
      color: #6C6C79;
      font-size: 0.7em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

/*** E-MAIL & PHONE ***/
.contact {
  margin-bottom: 0;
  display: flex;
  a {
    color: #000;
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 0.88em;
    &:last-child {
      margin-right: 0;
    }
    &::before {
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      background-image: url('../../img/mail-send-line.svg');
      background-size: contain;
      margin-right: 5px;
    }
    &:last-child::before {
      background-image: url('../../img/phone-line.svg');
    }
  }
}

/*** FOOTER SECTION CONTACT ***/
#footer-section-contact{
  .uk-grid{
    >div{
      &:first-child{
        background-image: url('../../img/dennis-deux-footer.jpg');
        background-size: cover;
        background-position: right center;
        position: relative;
        .content-wrapper {
          position: absolute;
          top: 40%;
          left: 10%;
          max-width: 388px;
        }
      }
      &:last-child{
        padding: 7.5% 5%;
        .space-dot{
          height: 8px;
          width: 8px;
          background: $w-color-primary;
          display: inline-block;
          margin: 0 10px 2px 10px;
        }
        .contact{
          margin-bottom: 20px;
        }
      }
    }
  }
  span {
    width: 100%;
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea{
      display: block;
      width: 100%;
      resize: none;
    }
  }
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    align-items: center;
    &.half {
      span {
        width: 49%;
      }
    }
  }
  .acceptance-307 {
    width: 100% !important;
    .wpcf7-list-item {
      margin: 0;
      width: 100% !important;
      label {
        display: flex;
        align-items: center;

        .wpcf7-list-item-label {
          font-size: .7em;
          font-weight: normal;
        }
      }
    }
  }
  .ajax-loader{
    display: none !important;
  }
}
