/*** GLOBAL ***/
body{
  max-width: 1920px;
}

/*** HEADER ***/
#header{
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mainnav-wrapper ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      a{
        display: block;
        padding: 0 15px;
        font-weight: 700;
        color: #000000;

        &:last-child {
          padding-right: 0;
        }
      }
      &.current-menu-item{
        a{
          color: $w-color-primary;
        }
      }
    }
  }
}
/*** HEADLINES ***/
.is-style-h1-featured em,
.is-style-h1-featured-overflow em{
  font-style: normal;
}
.is-style-h1-featured-overflow{
  white-space: nowrap;
  display: block;
  position: relative;
  z-index: 2;
}
.is-style-h2{
  margin-bottom: 2rem !important;
}
.is-style-h2-subheadline{
  em{
    display: block;
    font-weight: normal;
    font-size: 0.42em;
    letter-spacing: 2px;
    font-style: normal;
  }
}

/*** STARTSEITE ***/
.page-template-page_startseite{
  background-color: $w-bg-color-light;

  .img-wrapper{
    display: block;
    img{
      display: block;
      width: 100%;
    }
  }

  /*** HEADER ***/
  #header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
  }

  /*** HEADLINES & BUTTONS ***/
  h1,
  .is-style-h1{
    color: #000;
  }
  h2,
  .is-style-h2{
    color: #000;
    &.blue {
      color: $w-color-secondary;
    }
  }
  .is-style-h1-featured-overflow em{
    color: $w-color-primary;
  }
  .is-style-h2-subheadline em{
    color: $w-color-primary;
  }
  a.button-plain{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
    &::after{
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      background-image: url('../../img/arrow-right.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 20px;
    }
  }

  /*** TWO-COL ***/
  .two-col-wrapper{
    .flex-wrapper{
      display: flex;
      justify-content: space-between;
      .col{
        width: 45%;
        position: relative;
        &:last-child{
          width: 50%;
        }
        &.align-right{
          text-align: right;
        }
        &.img-wrapper.animated::after{
          content: '';
          display: block;
          background: $w-color-secondary;
          animation: morph 8s infinite ease-in-out;
          border-radius: 75% 25% 75% 25% / 25% 75% 25% 75%;
          height: 105%;
          transition: all 1s;
          width: 105%;
          position: absolute;
          top: -2.5%;
          left: -2.5%;
          transform: rotate(25deg);
        }
        p{
          font-size: 1.2em;
          &.zitat{
            color: #000;
            em{
              font-size: 0.7em;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-style: normal;
            }
          }
        }
        img{
          position: relative;
          z-index: 1;
        }
      }
    }
    &.hero-main{
      background-image: url('../../img/bg-first-section.svg');
      background-size: auto 100%;
      background-position: left top;
      background-repeat: no-repeat;
      padding: 150px 0 275px 0;
      .col.img-wrapper{
        width: 45%;
        &:after{
          content: '';
          display: block;
          position: absolute;
          height: 130%;
          width: 130%;
          background-image: url('../../img/form-red.svg');
          background-size: contain;
          background-repeat: no-repeat;
          top: 5%;
          left: -15%;
        }
      }
    }
    &.col-margin-top{
      .col:first-child{
        margin-top: 10%;
      }
    }
    &.reversed{
      .flex-wrapper{
        flex-direction: row-reverse;
      }
    }
    &.align-center{
      .flex-wrapper{
        align-items: center;
      }
    }
    &.kunden-logos{
      padding: 250px 0 600px 0;
      background-image: url('../../img/kunden-logos-bg.svg');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    &.messbare-ergebnisse{
      padding: 75px;
    }
    &.warum-deux{
      background-image: url('../../img/bg-warum-deux.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
      padding: 1200px 0 500px 0;
      margin-top: -1000px;
    }
    &.leistungen{
      margin-top: -150px;
      padding: 100px 0;
      .col:last-child{
        display: flex;
        justify-content: space-between;
        .sub-col{
          width: 49%;
          &:first-child{
            margin-top: -100px;
          }
          .teaser{
            background-color: #353583;
            background-image: url('../../img/teaser-bg.jpg');
            background-size: 100% auto;
            background-position: bottom center;
            background-repeat: no-repeat;
            margin-bottom: 4%;
            padding: 30px;
            .img-wrapper{
              margin: 0 auto 25px auto;
              max-width: 80%;
              img{
                max-height: 175px;
              }
            }
            .content-wrapper{
              strong{
                font-size: 1.5em;
                color: #fff;
                line-height: 1.2;
              }
              p{
                font-size: 0.8em;
                color: #fff;
                margin-bottom: 25px;
              }
            }
          }
        }
      }
    }
  }
  .projekte-slider-wrapper{
    margin-top: -100px;
    .flex-wrapper{
      display: flex;
      justify-content: space-between;
      &.intro{
        align-items: flex-end;
        margin-bottom: 75px;
        .col:first-child{
          width: 45%;
        }
      }
      &.slider-inner{
        padding: 100px 0;
        max-width: calc(960px + (2 * 7rem));
        margin: 0 auto;
        align-items: center;
        .col{
          width: 55%;
          &:last-child{
            width: 40%;
            background: rgba(0,0,0,0.4);
            padding: 35px;
            color: #fff;
          }
        }
      }
    }
  }
}
@keyframes morph {
  0% {
    border-radius: 75% 25% 75% 25% / 25% 75% 25% 75%;
  }

  50% {
    border-radius: 51% 49% 52% 48% / 25% 61% 39% 75%;
  }

  100% {
    border-radius: 75% 25% 75% 25% / 25% 75% 25% 75%;
  }
}
.two-col-ansprechpartner{
  display: flex;
  background: #fff;
  .col{
    width: 50%;
    p{
      &.adress{
        display: flex;
        align-items: center;
        strong{
          font-size: 1.1em;
        }
        span{
          display: inline-block;
          height: 8px;
          width: 8px;
          background: $w-color-primary;
          margin: 0 15px;
        }
      }
    }
    .contact{
      margin-bottom: 2rem;
      display: flex;
      a{
        color: #000;
        display: flex;
        align-items: center;
        margin-right: 30px;
        font-size: 0.88em;
        &::before{
          content: '';
          display: block;
          height: 20px;
          width: 20px;
          background-image: url('../../img/mail-send-line.svg');
          background-size: contain;
          margin-right: 5px;
        }
        &:last-child::before{
          background-image: url('../../img/phone-line.svg');
        }
      }
    }
    &.img-holder{
      background-image: url('../../img/dennis-deux-footer.jpg');
      background-size: cover;
      background-position: right center;
    }
    &:last-child{
      padding: 7.5% 5%;
      .wpcf7-list-item{
        margin: 0;
        label{
          display: flex;
          align-items: center;
          .wpcf7-list-item-label{
            font-size: .7em;
            font-weight: normal;
          }
        }
      }
      .flex-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
        align-items: center;
        span{
          width: 100%;
          input[type="text"],
          input[type="tel"],
          input[type="email"],
          textarea{
            display: block;
            width: 100%;
            background: $w-bg-color-light;
            resize: none;
            border: 0;
          }
        }
        &.half{
          span{
            width: 49%;
          }
        }
      }
    }
  }
}
.wpcf7 .ajax-loader{
  display: none !important;
}
#footer{
  padding: 75px 0;
  .flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col{
      &.logo-wrapper{
        width: 218px;
      }
      &.socials{
        a{
          display: block;
          svg{
            display: block;
            height: 30px;
            width: 30px;
            color: #bfbfc8;
          }
        }
      }
      &:last-child{
        ul{
          display: flex;
          list-style: none;
          li{
            a{
              font-size: 0.7em;
              margin-right: 22px;
              color: #bfbfc8;
            }
            &:last-child{
              a{
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
