/*** FARBEN ***/
$w-color-primary: #F55959;
$w-color-secondary: #5392EE;
$w-color-tertiary: #454595;
$w-color-dark: #6C6C79;
//$w-color-medium: #6a7177 !default;
//$w-color-light: #eef1f5 !default;
//$w-color-white: #fff !default;
//$w-color-black: #000 !default;

/*** FONT ***/
$w-def-font-family: (Poppins, sans-serif);
$w-headline-font-weight: 700;
$w-headline-line-height: 1.2;

//$w-h1-size: 2.0em !default;
$w-h1-size-bp: 3.1em;

//$w-h2-size: 1.75em !default;
$w-h2-size-bp: 2.3em;

/*** BUTTON ***/
$w-button-font-weight: 700;

/*** BG-COLOR ***/
$w-bg-color-light: #f7f7fb;
